<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hondana Main Page</title>
    <script src="mainPageScript.js"></script>
    <link rel="stylesheet" href="mainPage.css" type="text/css">
</head>
<body>
    <div id="page">
        <section class="top">
            <header>
                <h1>Welocme to Hondana!</h1>
                <p>Check out, Read, Buy, Enjoy!</p>
                <button>Zaloguj sie</button>
            </header>
            <nav>
                <ul>
                    <li>Strona główna</li>
                    <li>Książki</li>
                    <li>Mangi</li>
                    <li>Outlet</li>
                    <li>Promocje</li>
                </ul>
            </nav>
        </section>

        <section class="main_body">
            <h1>This is main body page</h1>
        </section>

        <section class="footer">
            <h1>This is footer</h1>
        </section>

    </div>

</body>
</html>