<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hondana Main Page</title>
    <script src="/MainPage/MainPageScript.js" defer></script>
    <link rel="stylesheet" href="/MainPage/mainPage.css" type="text/css">
</head>
<body>
    <div id="page">
        <section class="top">
            <nav id="NavBar">
                <ul>
                    <li><a href="#">Strona główna</a></li>
                    <li><a href="#">Książki</a></li>
                    <li><a href="#">Mangi</a></li>
                    <li><a href="#">Outlet</a></li>
                    <li><a href="#">Promocje</a></li>
                </ul>
                <header id="StrGPulpit">
                    <a href="/login"><button>Zaloguj się</button></a>
                    <button>Koszyk</button>
                </header>
            </nav>
        </section>
        <section class="top2">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <div class="search">
                <input type="text" placeholder="Wyszukaj...">
                <button type="submit">Szukaj</button>
            </div>
            <div class="cart">
                <img src="cart-icon.png" alt="Koszyk">
                <span class="cart-count">0</span> <!-- Początkowo liczba produktów w koszyku wynosi 0 -->
            </div>
        </section>

        <section class="main_body">
            <h1>This is main body page</h1>
        </section>

        <section class="footer">
            <h1>This is footer</h1>
        </section>

    </div>

</body>
</html>